/* reset browser styles */

* {
    box-sizing: border-box; 
  }

html, body, div, h1, h2, h3, h4, h5, h6, p, a, article,
aside, footer, header, menu, nav, main, section, form
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    vertical-align: baseline;
    text-decoration: none;
}

/* main styling for the site */

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
}

a {
  color: #184a73;
}

a:hover {
  color: #343f4d;
  text-decoration: underline;
}


/* style the header */

header {
    width: 100%;
    background-color: bisque;
    display: block;
}

header #logo {
    width: 55%;
    float: left;
    background-color: goldenrod;
    text-align: center;
}

header #logo img {
    width: 70%;
    margin: 2%;
}


/* style the navigation */

nav {
  float: right;
  margin: 2%;
  width: 40%;
}

ul#menu li {
  display: inline;
  list-style-type: none;
  font-size: 1.4em;
  margin-left: 10%;
  font-weight: bold;
}

/* style the form section */
#form {
  width: 100%;
  background-color: burlywood;
  display: block;
  clear: both;
}

#form form {
  padding: 2% 2% 2% 5%;
}

#form .formboxes {
  position: relative;
  display: inline-block;
  width: 70%;
}

#form input[type=text] {
  background-color: #f1f1f1;
  width: 40%;
  padding: 5px;
  font-size: 1.1em;
  border: 1px solid transparent;
  margin-left: 5px;
}

#form select {
  background-color: #f1f1f1;
  width: 40%;
  padding: 4px;
  font-size: 1.1em;
  border: 1px solid transparent;
}

button#getData {
  background-color: #51aa3A;
  color: #fff;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1.1em;
  margin-left: 5px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  width: 40%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #bfffbf; 
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #95ff95 !important; 
  color: #000000; 
} 

/* style the main */

main {
  width: 100%;
  background-color: gainsboro;
  display: block;
  clear: both;
}


/* style the main content */

#content {
  width: 55%;
  background-color: lightcyan;
  float: left;
  margin: 2%;
}

#content h1 {
  font-size: 1.5em;
  line-height: 2;
}


/* style the sidebar */

#sidebar {
  width: 35%;
  background-color: lightcyan;
  float: right;
  margin: 2%;
}

